@font-face {
  font-family: "Gotham Rounded Book";
  src: url("../fonts/GothamRoundedBook_21018.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  width: 100%;
  background: url("../img/background-1@1x.jpg") no-repeat center top;
  -webkit-background-size: auto 488px;
  background-size: auto 488px;
  background-color: #ffffff;
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.header {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  margin-bottom: 17px;
  padding: 0;
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.header__top {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 4.37% 6.25%;
}
.header__top:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -25px;
  right: 6.25%;
  width: 50px;
  height: 50px;
  background: url("../img/menu-burger.svg") no-repeat center center;
  cursor: pointer;
}
.header__top--open {
  background: #283645;
  -webkit-box-shadow: inset 0 -1px #000000;
  box-shadow: inset 0 -1px #000000;
}
.header__top--open:before {
  background: url("../img/menu-cross.svg") no-repeat center center;
}
.logo {
  float: left;
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 32.088px;
}
.menu {
  display: none;
}
.menu--open {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 50;
}
.menu__list {
  background-color: #283645;
  color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu__list-item {
  -webkit-box-shadow: inset 0 -1px #000000, inset 0 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px #000000, inset 0 1px rgba(255, 255, 255, 0.15);
}
.menu__list-item a {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  margin-bottom: 0;
  padding: 0;
  padding: 5.32% 17px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 18.004px;
  line-height: 1.77777778;
  text-align: center;
  text-transform: uppercase;
}
.preview {
  position: relative;
  margin-bottom: 40px;
  color: #ffffff;
}
.preview__slogan {
  min-height: 66px;
  margin: 0 30px 303px;
  text-align: center;
  font-weight: 300;
  font-size: 23.996px;
}
.preview .download {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-color: #283645;
  color: #ffffff;
  padding: 28px 19px;
}
.preview .download:before {
  content: '';
  position: absolute;
  top: -100%;
  right: 9.5%;
  width: 100%;
  height: 286px;
  background: url("../img/iphone-hand-1.png") no-repeat center center;
}
.preview .download__btn {
  max-width: 281px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  margin-bottom: 30px;
  padding: 15px 16px;
  margin: 0 auto 30px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 18.004px;
  line-height: 1;
  border: 3px solid #ffffff;
  border-radius: 40px;
}
.preview .download__labels {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  margin-bottom: 10px;
  padding: 0;
  margin: 0 10px;
  text-align: center;
}
.preview .download__labels a {
  display: inline-block;
  margin-right: 37px;
  margin-bottom: 25px;
}
.preview .download__labels a:last-of-type {
  margin-right: 0;
}
.preview .download__labels-explain {
  max-width: 297px;
  margin: 0 auto 10px;
  font-weight: 300;
  line-height: 1.71428571;
}
.features {
  margin-bottom: 45px;
  text-align: center;
}
.features__slogan {
  font-weight: 300;
  font-size: 23.996px;
}
.features__slogan p {
  margin: 0 50px 30px;
}
.features .offers {
  background: #f2f2f2;
  padding-top: 50px;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(49%, transparent), color-stop(51%, #ffffff));
  background-image: -webkit-linear-gradient(right bottom, transparent 49%, #ffffff 51%);
  background-image: linear-gradient(to left top, transparent 49%, #ffffff 51%);
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: 100% 32px;
  background-size: 100% 32px;
}
.features .offers__item {
  margin: 0 20px;
}
.features .offers__item-title {
  margin: 0 auto 15px;
  font-weight: bold;
  font-size: 18.004px;
  line-height: 1.33333333;
  color: #000000;
}
.features .offers__item-text {
  margin-bottom: 0;
  padding-bottom: 35px;
  line-height: 1.71428571;
}
.features__iphone {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
}
.features__iphone img {
  width: 255px;
}
.review {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70px, #f2f2f2), color-stop(70px, transparent));
  background: -webkit-linear-gradient(bottom, #f2f2f2 70px, transparent 70px);
  background: linear-gradient(to top, #f2f2f2 70px, transparent 70px);
  position: relative;
}
.review:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 32px;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(49%, #f2f2f2), color-stop(51%, #ffffff));
  background: -webkit-linear-gradient(right bottom, #f2f2f2 49%, #ffffff 51%);
  background: linear-gradient(to left top, #f2f2f2 49%, #ffffff 51%);
}
.review:before {
  bottom: 65px;
  left: 0;
}
.review input {
  display: none;
}
.review__controls {
  position: absolute;
  bottom: 130px;
  width: 100%;
  text-align: center;
}
#rev-slide-01:checked ~ .review__controls label[for="rev-slide-01"]:before,
#rev-slide-02:checked ~ .review__controls label[for="rev-slide-02"]:before,
#rev-slide-03:checked ~ .review__controls label[for="rev-slide-03"]:before {
  background: #ffffff;
  border: 3px solid #283645;
}
.review__controls label {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.review__controls label:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
  width: 6px;
  height: 6px;
  background: #f2f2f2;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.review__slider-inner {
  width: 100%;
  padding-bottom: 100px;
  overflow: hidden;
}
.review__slider {
  margin: 0 auto;
}
.review__item {
  float: left;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.review__item-title {
  margin: 0 auto 15px;
  font-weight: bold;
  font-size: 18.004px;
  line-height: 1.33333333;
  color: #000000;
  font-style: normal;
}
.review__item-text {
  margin-bottom: 0;
  padding-bottom: 35px;
  line-height: 1.71428571;
  margin-left: 20px;
  margin-right: 20px;
}
.price {
  position: relative;
  background: #f2f2f2;
  margin-bottom: 40px;
  padding-bottom: 100px;
}
.price input {
  display: none;
}
.price__controls {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
#price-slide-01:checked ~ .price__controls label[for="price-slide-01"]:before,
#price-slide-02:checked ~ .price__controls label[for="price-slide-02"]:before,
#price-slide-03:checked ~ .price__controls label[for="price-slide-03"]:before {
  background: transparent;
  border: 3px solid #283645;
}
.price__controls label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  cursor: pointer;
}
.price__controls label:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
  width: 6px;
  height: 6px;
  background: #b5b9be;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
}
.price__slider-inner {
  position: relative;
  width: 100%;
  height: 286px;
  overflow: hidden;
}
.price__slider {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -417px;
  width: 300%;
}
.price__item {
  float: left;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 278px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  border-left: 2px solid #e5e5e5;
  border-top: none;
  border-bottom: none;
}
.price__item:last-child {
  border-right: 2px solid #e5e5e5;
}
.price__item--hit:before {
  content: '';
  position: absolute;
  left: 0;
  width: 74px;
  height: 73px;
  background: url("../img/flag-hit.png");
}
.price__item-title {
  padding: 20px 20px;
  background-color: #283645;
  color: #ffffff;
}
.price__item-title__name {
  margin: 0;
  font-size: 18.004px;
  line-height: 1.66666667;
  font-weight: bold;
  text-transform: uppercase;
}
.price__item-title__price {
  margin: 0;
  font-size: 23.996px;
  line-height: 1.25;
  font-weight: 300;
}
.price__item-func {
  padding: 15px 20px;
  background: #ffffff;
  background-image: url("../img/mark-no.png");
  background-repeat: no-repeat;
  background-position: 92% center;
  text-align: left;
  line-height: 2.14285714;
  text-transform: uppercase;
  border-bottom: 2px solid #e5e5e5;
}
.price__item-func--on {
  background-image: url("../img/mark-yes.png");
}
.info {
  text-align: center;
}
.info__slogan {
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 23.996px;
}
.info__slogan p {
  margin: 0;
}
.contacts {
  margin-bottom: 35px;
}
.contacts__part {
  margin: 0 20px 20px;
}
.contacts__part-title {
  margin: 0;
  font-size: 18.004px;
  font-weight: bold;
}
.contacts__part-link {
  text-decoration: none;
  color: inherit;
  color: #d22856;
  font-size: 23.996px;
  font-weight: 300;
}
.bg__map {
  width: 100%;
}
@media (min-width: 700px) {
  body {
    background: url("../img/iphone-hand-2@1x.png") no-repeat 80% 184px, url("../img/background-2@1x.jpg") no-repeat center top;
  }
  .header {
    max-height: 110px;
    margin-bottom: 93px;
  }
  .header__top {
    padding: 26px 5.71% 36px;
  }
  .header__top .logo:before {
    content: '';
    display: inline-block;
    width: 59px;
    height: 40px;
    margin-right: 10px;
    background: url("../img/glasses-simple@1x.png") no-repeat center center;
  }
  .preview {
    margin: 0 51.14% 0 5.71%;
  }
  .preview__slogan {
    margin: 0 auto;
    max-width: 210px;
    font-size: 40px;
    line-height: 1.2;
  }
  .preview .download {
    padding: 32px 0 160px;
    background: none;
  }
  .preview .download:before {
    display: none;
  }
  .preview .download__btn {
    margin-bottom: 45px;
  }
  .preview .download__labels {
    margin: 0;
  }
  .preview .download__labels a {
    margin-bottom: 30px;
  }
  .preview .download__labels-explain {
    max-width: 320px;
    font-size: 18px;
    line-height: 1.45;
  }
  .features__slogan {
    margin-bottom: 40px;
    font-size: 40px;
  }
  .features__slogan p {
    margin: 0 auto 0;
    line-height: 1.15;
  }
  .features__slogan p:last-child {
    width: 360px;
  }
  .features .offers__item {
    float: right;
    width: 50%;
    text-align: left;
  }
  .features__iphone {
    position: relative;
    width: 40%;
    height: 430px;
    margin-top: -40px;
    margin-left: 35px;
  }
  .features__iphone img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -210px;
    width: 420px;
  }
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}
