.features {
    text-align: center;
}

.features__slogan {
    .font-light ();
    font-size: @font-size--slogan;        
    
    p {
        margin: 0 50px (@font-size * (30px / 14px));
    }
}

.offers {
    background: linear-gradient(175deg, transparent 30px, @bg-second 30px);
    padding-top: (@font-size * (50px / 14px));
}

.offers__item {
    margin: 0 20px;
}

.offers__item-title {
    margin-bottom: (@font-size * (15px / 14px));
    font-weight: bold;
    font-size: @font-size--title;
    .line-height (24px; 18px);
    color: @color-title;
}

.offers__item-text {
    margin-bottom: 0;
    padding-bottom: (@font-size * (35px / 14px));
    .line-height (24px; 14px);
}

.features__iphone {
    .box-size (@padding: 0);
    height: 280px;
    overflow: hidden;
    background: @bg-second;
}

.features__iphone-layout {
    display: inline-block;    
}
