.header {    
    .box-size (@margin-bottom: (@font-size * (25px / 14px)));
    .background (@bg-header);    
}

.logo {
    position: absolute;
    top: (@font-size * (15px / 14px));
    margin-left: 0px;
    z-index: 10;
    font-family: "arial", sans-serif;
    .reset-a ();
    text-transform: uppercase;
    font-size: @font-size--logo;
}
