.header-layout {
    position: relative;
}

.bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 729%;
    background: url("../img/bg-main.jpg") no-repeat center top;
    background-size: auto 100%;
        
    & img {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -327px;
    }
}

.header {    
    .box-size (@margin-bottom: (@font-size * (15px / 14px)); @padding: 4.37% 6.25%);
    position: relative;
    .clearfix ();
    width: 100%;
    .background (@bg-header);  
}

.logo {
    float: left;
    position: relative;
    z-index: 50;
    font-family: @font-family--logo;
    .reset-a ();
    text-transform: uppercase;
    font-size: @font-size--logo;
    
//    &:before {
//        content: url("../img/logo.png");
//        margin-right: 10px;
//    }
}
